<div class="card-body">
  <div [formGroup]="leaveRequestForm" id="form">
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Leave Request Info</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label_readonly">
            <input class="floating-input_readonly" type="text" name="resourceId" id="resourceId"
                   formControlName="resourceId"
                   [class.is-invalid]="isControlInvalid('resourceId')"
                   [class.is-valid]="isControlValid('resourceId')"
                   readonly
            >
            <label class="label_OA_readonly">Resource Id</label>
          </div>
        </div>
        <!--        <div class="col-3">-->
        <!--          <div class="floating-label_readonly">-->
        <!--            <input type="text" class="floating-input_readonly" autocomplete="off"-->
        <!--                   name="approverId"-->
        <!--                   formControlName="approverId"-->
        <!--                   [class.is-invalid]="isControlInvalid('approverId')"-->
        <!--                   [class.is-valid]="isControlValid('approverId')"-->
        <!--            />-->
        <!--            <label class="label_OA_readonly">Approver Id </label>-->
        <!--          </div>-->
        <!--        </div>-->
        <div class="col-3">
          <div class="floating-label_readonly">
            <input type="name" class="floating-input_readonly" autocomplete="off"
                   name="name"
                   formControlName="name" readonly/>
            <label class="label_OA_readonly">Name</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input" autocomplete="off"
                   name="description"
                   formControlName="description"
            />
            <label class="label_OA">Description</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_mandatory" type="text" name="contactAddress" id="contactAddress"
                   formControlName="contactAddress"
                   [class.is-invalid]="isControlInvalid('approverId')"
                   [class.is-valid]="isControlValid('approverId')"
            >
            <label class="label_OA_mandatory">Contact Address</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_mandatory" type="text" name="contactAddress" id="contactPhone"
                   formControlName="contactPhone"
                   [class.is-invalid]="isControlInvalid('approverId')"
                   [class.is-valid]="isControlValid('approverId')"
            >
            <label class="label_OA_mandatory">Contact Phone</label>

          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input_mandatory" type="date" name="startDate" id="startDate"
                   formControlName="startDate" name="startDate"
                   [class.is-invalid]="isControlInvalid('startDate')"
                   [class.is-valid]="isControlValid('startDate')">
            <label class="label_OA required">Start Date</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory">
            <input class="floating-input_mandatory" type="date" name="endDate" id="endDate"
                   formControlName="endDate" name="expiryDate" [class.is-invalid]="isControlInvalid('endDate')"
                   [class.is-valid]="isControlValid('endDate')" (change)="calNumberOfDays();">
            <label class="label_OA required">Expiry Date</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory">
            <input type="text" class="floating-input_mandatory" autocomplete="off"
                   name="numberOfDays"
                   formControlName="numberOfDays"
                   [class.is-invalid]="isControlInvalid('numberOfDays')"
                   [class.is-valid]="isControlValid('numberOfDays')"
            />
            <label class="label_OA_mandatory">Number of Days</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-3">
          <div class="floating-label">
            <input class="floating-input" type="text" name="payPercentage" id="payPercentage"
                   formControlName="payPercentage">
            <label class="label_OA">Pay Percentage</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory form-switch">
            <input class="floating-input form-check-input" type="checkbox" id="ticketsPaid" name="ticketsPaid" value="true" checked>
            <label class="label_OA_mandatory form-check-label required">Is Tickets Paid</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label">
            <input type="text" class="floating-input" autocomplete="off"
                   name="ticketsTo"
                   formControlName="ticketsTo"
                   [class.is-invalid]="isControlInvalid('ticketsTo')"
                   [class.is-valid]="isControlValid('ticketsTo')"
            />
            <label class="label_OA">Tickets To</label>
          </div>
        </div>
        <div class="col-3">
          <div class="floating-label_mandatory">
            <input type="text" class="floating-input_mandatory" autocomplete="off"
                   name="approverComments"
                   formControlName="approverComments"
                   [class.is-invalid]="isControlInvalid('approverComments')"
                   [class.is-valid]="isControlValid('approverComments')"
            />
            <label class="label_OA_mandatory">Approver Comments</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
