<div class="card-body">
  <div [formGroup]="rolesRequestForm" id="form">
    <div class="form-group row">
      <h3 class="fw-bolder text-dark">Roles Request Info</h3>
    </div>
    <div class="container mt-5 ">
      <div class="form-group row">
        <div class="col-2">
          <div class="floating-label_mandatory">
            <input type="text" class="floating-input_mandatory" autocomplete="off"
                   name="name"
                   formControlName="name"
                   [class.is-invalid]="isControlInvalid('name')"
                   [class.is-valid]="isControlValid('name')"
            />
            <label class="label_OA_mandatory"> Roles Name </label>
          </div>
        </div>
        <div class="col-2">
          <div class="floating-label_mandatory">
            <input type="text" class="floating-input_mandatory" autocomplete="off"
                   name="desc"
                   formControlName="desc"
                   [class.is-invalid]="isControlInvalid('desc')"
                   [class.is-valid]="isControlValid('desc')"
            />
            <label class="label_OA_mandatory"> Roles Description </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
